#root {
  max-width: auto;
  max-height: auto;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
img {
  border-radius: 100px;
}
p{
  display: flex;
  justify-content: center;
}
.enclosing {
  padding: 0px;max-width: 320px;
  max-height:320px; 
}
.profile-stats {
  padding: 0px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
